div {
background-color: #EAF6F6;
width: 100%;
margin: 0;
}

hr {
margin: 0;
top: 20px;
border: none;
height: 5px;
background: grey;
}

body {
margin: 0;
text-align: center;
color: #40514E;
}

img {
width: 100%;
margin: 0;
}